.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
    z-index: 5;
  }
  
  .goomba {
    width: 200px;
    position: absolute;
    top: 400px;
    left: 120px;
    z-index: 4;
  }
  
  .baloon {
    left: 390px;
    top: 260px;
    position:absolute;
    z-index:2;
  }
  
  .speach {
    font-size: 25px;
    left: 415px;
    top: 300px;
    position: absolute;
    z-index: 3;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    left: 700px;
    top: 300px;
    z-index: 1;
  }